<mat-toolbar class="navbar">
  <div class="navbar-container">
    <a class="navbar-brand" routerLink="/">
      <span>ConstructionXpert Services</span>
    </a>
    <div class="spacer"></div>
    <button mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</button>
    <button mat-button routerLink="/admin/projets" routerLinkActive="active">Projects</button>
    <button mat-button routerLink="/tasks" routerLinkActive="active">Tasks</button>
    <button class="connexion-btn" routerLink="/login">Connexion</button>
  </div>
</mat-toolbar>