<section class="hero">
    <div class="hero-content">
        <div class="company-name">Constructo Builders</div>
        <h1 class="hero-title">Build Your Construction</h1>
        <p class="hero-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been</p>
        <div class="cta-buttons">
            <button class="cta-button explore">Explore More</button>
            <button class="cta-button get-started">Get Started</button>
        </div>
    </div>
</section>
<section class="features">
    <div class="feature">
        <div class="feature-icon">&#9881;</div>
        <div class="feature-title">Who we are</div>
        <p>Lorem ipsum dolor sit amet consect adipisi</p>
    </div>
    <div class="feature">
        <div class="feature-icon">&#128100;</div>
        <div class="feature-title">What we do</div>
        <p>Lorem ipsum dolor sit amet consect adipisi</p>
    </div>
    <div class="feature">
        <div class="feature-icon">&#10004;</div>
        <div class="feature-title">Why Choose Us?</div>
        <p>Lorem ipsum dolor sit amet consect adipisi</p>
    </div>
</section>